/*
* A Design by Ilenia Piro
* Author: Ilenia Piro
* Author URL:
* License: Copyright © 2020 Hackmind di Proietti Claudio
*/
/**RESET**/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** Background image is set on html element **/
html {
  background: url(../images/keyboard.jpg);
  margin: 0;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/**** We put pattern mask in body ***/
body {
  margin: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAICAYAAAAx8TU7AAAAG0lEQVQIW2NkYGB4BsQogBGXYBo2lVgFqW0mAAMyBTnkxKBjAAAAAElFTkSuQmCC) repeat;
  text-align: center;
  text-transform: uppercase;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #9ecc4c;
  font-size: 60px;
  font-size: 4.0vw;
  margin: auto;
  position: absolute;
  top: 27%;
  width: 100%;
  text-align: center;
  justify-content: center;
}

h2 {
  font-weight: 500;
  font-size: 40px;
  font-size: 2.5vw;
  margin: 0 auto;
  color: #fff;
  position: absolute;
  top: 43%;
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  display: block;
}

a {
  color: #9ecc4c;
}

.wrapper {
  min-height: 500px;
  position: relative;
}

.logo {
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
  top: 0%;
  text-align: center;
  width: 300px;
  height: 300px;
}

.hackmindLogo {
  max-width: 100%;
  max-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  z-index: +1;
}

ul.countdown {
  position: absolute;
  top: 53%;
  margin-top: -40px;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  width: 100%;
}

ul.countdown li {
  display: inline-block;
  margin-right: 3%;
  text-align: center;
}

ul.countdown li span {
  font-size: 72px;
  font-size: 5.8vw;
  width: 150px;
  letter-spacing: 5px;
  font-weight: 300;
  color: #fff;
}

ul.countdown li p {
  color: #9ecc4c;
  font-size: 14px;
  margin-bottom: 0;
}

ul.countdown li:last-child {
  margin-right: 0;
}

ul.social {
  position: absolute;
  width: 100%;
  bottom: 50px;
  text-align: center;
}

ul.social:hover path {
  fill: #9ecc4c !important;
}

ul.social>li {
  display: inline-block;
}

ul.social>li>a {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  display: block;
}

footer .copyright {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 10px;
  margin: auto;
  bottom: 4%;
  color: white;
}

footer .ilelink {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 10px;
  bottom: 2%;
  color: white;
}

@media screen and (max-width: 500px) {
  h1 {
    top: 33%;
    font-size: 7.4vw;
  }

  h2 {
    top: 44%;
    font-size: 4vw
  }

  .logo {
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    top: 5%;
    text-align: center;
    width: 200px;
    height: 200px;
  }

  .hackmindLogo {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    z-index: +1;
  }

  ul.countdown {
    top: 55%;
    font-size: 6.8vw;
  }

  ul.countdown li span {
    justify-content: center;
    font-size: 7.0vw;
  }
}
